[Unit]
Description=Netfilter Tables
Documentation=man:nft(8) https://betaco.de/zeno/nft-simple-fw/src/branch/master/README.md
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
WorkingDirectory=/etc/nftables
ExecStart=/usr/bin/nft -f fw.nft
ExecReload=/usr/bin/nft -I /etc/nftables delete table inet fw ';' include '"fw.nft"'
ExecStop=/usr/bin/nft delete table inet fw
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
